<!-- SOCIAL MEDIA, COPYRIGHT, CREDIT -->

<div class="footer">
    <a href="https://facebook.com" target="_blank"> <img class="fb" src="image/facebook.png" alt=""></a>
    <a href="https://instagram.com" target="_blank"><img class="insta" src="image/instagram.png" alt=""></a>
    <a href="https://github.com/noob-nilarghya" target="_blank"> <img class="git" src="image/github.png" alt=""></a>
    <a href="https://linkedin.com" target="_blank"><img class="in" src="image/linkedin.png" alt=""></a>
    
    <p class="copyright"> © 2020-24 covid19Tracker.org</p>
</div>


</body>

</html>